<!DOCTYPE html>
<html lang="pl">
{%load static %}
<head>
    <meta charset="UTF-8">
    <title>Wędkarski Portal</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>
    <h1>🎣 Witaj na Wędkarskim Portalu!</h1>

<nav>
    {% if user.is_authenticated %}
        <p>Witaj, <strong>{{ user.username }}</strong>!</p>
        <a href="{% url 'profil' %}" class="btn">Mój Profil</a>
        <a href="{% url 'logout' %}">Wyloguj się</a>
    {% else %}
        <a href="{% url 'login' %}">Zaloguj się</a>
        <a href="{% url 'register' %}">Zarejestruj się</a>
    {% endif %}
</nav>

<p>To Twoja pierwsza strona w Django.</p>

    <button id="test-btn">Kliknij mnie</button>

    <script src="{% static 'main/script.js' %}"></script>
</body>
</html>